<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../elements/eight-widgets-card/eight-widgets-card.html">
<link rel="import" href="../../elements/detail-info-card/detail-info-card.html">
<link rel="import" href="../../elements/op-time-card/op-time-card.html">
<link rel="import" href="../../elements/cop/rt-cop-card.html">
<link rel="import" href="../../elements/cop/av-monthly-cop-card.html">
<link rel="import" href="../../bower_components/px-card/px-deck.html">
<dom-module id="demoboards-view">
  <template>

    <px-deck>
    	<div>
    		<eight-widgets-card id="eight-widgets-card"></eight-widgets-card>
    	</div>
			<div>
				<op-time-card id="op-time-card"></op-time-card>
			</div>
			<div>
				<detail-info-card id="detail-info-card"></detail-info-card>
			</div>
			<div>
				<rt-cop-card id="rt-cop-card"></rt-cop-card>
				<av-monthly-cop-card id="av-monthly-cop-card"></av-monthly-cop-card>
			</div>
    </px-deck>
  </template>
  <script>
    Polymer({

      is: 'demoboards-view',

      properties: {
      },

      
	behaviors:[px.deck]
    });
  </script>
</dom-module>